name: deploy blog, host on vps

on:
  push:
    branches: [ "deploy" ]

jobs:
  host-on-vps:
    runs-on: ubuntu-latest
    steps:
    - name: setup hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: latest
        extended: true
    - name: checkout source code
      uses: actions/checkout@v4
      with:
        ref: deploy
        submodules: true
        fetch-depth: 0
    - name: build website
      # 移除参数`-DEF`，确保VPS只托管“当前有效”内容
      run: hugo -b ${{ vars.VPS_BASEURL }}
    - name: create artifact
      run: tar -C public/ --no-same-owner --no-same-permissions -czf release.tgz .
    - name: transfer artifact via scp
      uses: appleboy/scp-action@v1
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        port: ${{ secrets.VPS_PORT }}
        key: ${{ secrets.VPS_KEY }}
        source: ./release.tgz
        target: /tmp/
    - name: deploy blog via ssh
      uses: appleboy/ssh-action@v1
      with:
        host: ${{ secrets.VPS_HOST }}
        username: ${{ secrets.VPS_USER }}
        port: ${{ secrets.VPS_PORT }}
        key: ${{ secrets.VPS_KEY }}
        script: |
          [ -d /opt/apps/blog ] && \
            ( echo ">>>backup running version..." && \
            cd /opt/apps/ && tar -czvf blog-bak-$(date '+%Y%m%d%H%M%S').tgz blog && \
            rm -rf blog/* )

          [ $(ls -t /opt/apps/ | grep 'blog-bak-' | wc -l) -gt 5 ] && \
            ( echo ">>>delete oldest backup(s)..." && \
            cd /opt/apps/ && \
            rm -fv $(ls -t | grep 'blog-bak-' | tail +6) )

          echo ">>>release current version..." && \
            mkdir -p /opt/apps/blog/ && \
            tar -C /opt/apps/blog/ -xzvf /tmp/release.tgz && \
            echo ">>>delete artifact..." && \
            rm -fv /tmp/release.tgz
